
.article {
    /*background: #FFFFFF;*/
    /*padding: 10px;*/
    /*border-radius: 8px;*/
    margin: 15px;
}


.article-title, .article-author {
    /*font-weight: bold;*/
}

.article-description, .article-time {
}

.article-button-emotion {
    /*background: azure;*/
}

.article-button-emotion a:checked {
    /*background: aqua;*/
}

.article-comment {
    /*background: #F0F2F5;*/
    /*border-radius: 15px;*/
    padding: 8px;
    margin: 8px;
}

.article-comment-title {
    font-weight: bold;
}